<!--Barra de búsqueda -->
<app-navbar></app-navbar>
<div class="absolute top-0 w-full">
  <div class="w-full">
    <div class="bg-black/25 w-full h-[100vh] absolute"></div>
    <img src="assets/img/senderistas.jpg " class="w-full h-[100vh]" alt="..." />
  </div>
  <div
    class="text-white absolute h-[100vh] w-full pl-[2rem] top-0 flex flex-col justify-center"
  >
    <h1 class="text-4xl font-bold">¡Conoce el mundo con Turistea!</h1>
    <p class="font-semibold">
      Somos tu mejor aliado en los viales, no lo olvides
    </p>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="mt-[-17.5rem] z-10 absolute">
    <path
      fill="#FFFF"
      fill-opacity="1"
      d="M0,160L48,149.3C96,139,192,117,288,138.7C384,160,480,224,576,250.7C672,277,768,267,864,229.3C960,192,1056,128,1152,112C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
  <h2 class="font-semibold text-3xl">Conoce más...</h2>
  <div class="p-7 w-full gap-7 grid grid-cols-3">
    <div class="shadow-xl rounded-2xl">
      <img src="/assets/img/hotel.jpg" alt="Hotel" class="h-[40vh] w-[40vw] rounded-2xl cursor-pointer hover:scale-110 transition-all in-ease-out" />
    </div>
    <div class="shadow-xl rounded-2xl">
      <img
        src="/assets/img/comida.jpg"
        alt="Comida"
        class="h-[40vh] w-[40vw] rounded-2xl cursor-pointer hover:scale-110 transition-all in-ease-out"
      />
    </div>
    <div class="shadow-xl rounded-2xl">
      <img
        src="/assets/img/naturaleza.jpg"
        alt="Naturaleza"
        class="h-[40vh] w-[40vw] rounded-2xl cursor-pointer hover:scale-110 transition-all in-ease-out"
      />
    </div>
  </div>
</div>
